what i want the codex software to do:
help me count the hits for units.
and help me create my army before a game.
a way to separate the units that we choose so that then we dont have to go through the whole thing. 

how it works:
you type in the unit you would like to view and it shows you the stats of that unit.

information we need:
the stats of the unit(weapons damage health abilities etc).
the name of the unit.
how many soldiers in the unit.

equipment:
a laptop.
the software that we need to create our own software.
a mouse.
a charger.
all of the codex or the online codex(new ones).
